$white: #ffffff;
$black: #000000;

$main-black: #2a2a2a;
$main-pink: #f67599;

$light-gray-border: #f0f0f5;

// stepper
$stepper-default: #afb1bd;
$stepper-active: #333333;
$stepper-line-default: #e5e5e5;

// btn
$btn-line-gray: #e6e6eb;

// form
$form-title: #808080;
$form-input: #4a4a4a;

//radio-btn
$radio-btn-default: #222222;
